# Environment
.venv/
.env

# GitHub Config
.github/

# Data (Ignore contents but keep folders)
data/*
!data/.gitkeep
!data/raw/
!data/processed/
!data/interim/
!data/external/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/external/*
!data/external/.gitkeep
*.csv

# Models and Outputs (Ignore contents but keep folders)
models/*
!models/.gitkeep
outputs/*
!outputs/.gitkeep
*.pkl
*.joblib
*.h5
*.hd5

# Jupyter Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS generated
.DS_Store
Thumbs.db
