# Environment
.venv/
.env

# GitHub Config
.github/

# Data (Ignore contents but keep folders)
data/*
!data/.gitkeep
!data/raw/
!data/processed/
!data/interim/
!data/external/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/external/*
!data/external/.gitkeep

# Models and Outputs (Ignore contents but keep folders)
models/*
!models/.gitkeep
!models/lightgbm_final.txt
!models/xgboost_final.json
!models/ensemble_weights.txt
outputs/*
!outputs/.gitkeep
!outputs/submission.csv
!outputs/model_comparison.csv
!outputs/weights_search.csv
!outputs/figures/
!outputs/figures/*.png
*.pkl
*.joblib
*.h5
*.hd5

# Jupyter Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS generated
.DS_Store
Thumbs.db
